 
           h1
            {
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.25em;
            }
            
            body
            {
                background: linear-gradient(to right, white, black);
            }
            
            hr
            {
                height: 1px;
                border-top: 1px solid rgba(128, 128,128, .5);
            }
            .pickHeader
            {
                margin: 20px;
                text-align: center;
                margin-top: 80px;
            }
            .output p
            {
                text-align:  center;
            }
        